body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
    background-image: url(./assets/pic6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

}

a{
   text-decoration: none;
   color: rgb(6, 5, 8); 
   font-weight:bolder;
   font-size: larger;
}

*{
    box-sizing: border-box;
    
}

